<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bank Tech Test</title>
    <script src="../src/moment.js"></script>
    <script src="../src/account.js"></script>
    <script src="../src/history.js"></script>
    <script src="../src/transaction.js"></script>
    <script src="../src/app.js"></script>
  </head>
  <body>
    <h1>Banking Tech Test</h1>
    <div id="balance">
        Current balance:
    </div>
    <form class="" action="index.html">
      <label for="deposit"></label>
      <input type="text" name="deposit" placeholder="enter an amount" value="" id="deposit-amount">
      <input type="button" name="deposit" value="Add" id="add">
    </form>

    <div id="history">

    </div>
  </body>
</html>
